# -------------------------
# Python / Backend
# -------------------------
__pycache__/
*.pyc
*.pyo
venv/
.env

# -------------------------
# Node / React
# -------------------------
node_modules/
build/
dist/

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Secrets
# -------------------------
.env
*.env
config.js
